<div class="row my-3" *ngIf="!isDelete">
  <div class="col-sm-10">
    <div class="card">
      <div class="card-header">
        #{{event.id}}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{event.internal_Name}}</h5>
        <p class="card-text">Дата проведеня: {{event.date_Of_the}}</p>
        <p class="card-text">Место проведения: {{event.place}}</p>
        <p class="card-text">Начало: {{event.start_Of_event}}</p>
        <a (click)="EditPage()" class="btn btn-primary">Изменить мероприятие</a>
        <a class="text-dark mb-1 ml-2 center-block" style="margin-top:400px;" (click)="Delete(event.id)"><i class="large material-icons center-block" style="font-size:30px">delete</i></a>
      </div>
    </div>
  </div>
</div>
